/*------------------------------General------------------------------*/

.boxHelper
{
	color: #fff;
	background-color: #000;
	text-align: center;
}



@font-face
{
	font-family: 'rimouski sb';
	src: url('../fonts/rimouski sb.ttf');
}

h2
{
	font-size: 36px;
	color: #316f3f;
	text-align: center;
	font-family: 'rimouski sb', Arial, sans-serif;
}

h3
{
	font-size: 30px;
	color: #4f8255;
	text-align: center;
	font-family: 'rimouski sb', Arial, sans-serif;
	margin-top: 10px;
}

p
{
	text-align: center;
	font-family: 'Arial', sans-serif, times;
}

@media screen and (min-width: 48em)
{
	h2
	{
		font-size: 48px;
	}

	h3
	{
		font-size: 36px;
	}

	p
	{
		font-size: 20px;
	}
}

@media screen and (min-width: 80em)
{
	h2
	{
		font-size: 60px;
	}

	h3
	{
		font-size: 48px;
	}

	p
	{
		font-size: 20px;
	}
}

/*------------------------------Nav/Header------------------------------*/

#tree
{
	width: 100%;
	z-index: 10;
	position: absolute;
}

#treeGrey
{
	width: 100%;
	z-index: 5;

}

#headTitle
{
	z-index: 100;
	position: absolute;
	font-size: 36px;
	color: #316f3f;
	margin-top: 90px;
	opacity: 0;
}

#burgerMenu .menu-icon::after
{
	background: #316f3f;
	margin-top: 5px;
	box-shadow: 0 7px 0 #316f3f, 0 14px 0 #316f3f;
}

#logo
{
	margin-top: 10px;
	margin-bottom: 10px;
}

#burgerMenu
{
	margin-top: 23px;
	margin-right: 10px;
}

nav
{
	text-align: center;
	background-color: #fff;
	border-top: 1px solid #316f3f;
	border-bottom: 1px solid #316f3f;
}

nav ul
{
	list-style: none;
	font-size: 48px;
	color: #316f3f;
	font-family: 'rimouski sb', Arial, sans-serif;
}

nav ul li
{
	margin-top: 15px;
	border-bottom: 1px solid #316f3f;
	padding-bottom: 15px;
}

nav ul li:first-child
{
	margin-top: 5px;
}

nav ul li:last-child
{
	border-bottom: none;
}

nav ul li a
{
	color: #4f8255;
}

nav ul li a:hover
{
	color: #316f3f;
}

@media screen and (min-width: 23.4375em)
{
	#burgerMenu
	{
		margin-top: 30px;
	}
}

@media screen and (min-width: 37.5em)
{
	#headTitle
	{
		font-size: 48px;
	}

	#burgerMenu
	{
		margin-top: 50px;
	}
}

@media screen and (min-width: 40em)
{

	#logo
	{
		clear: both;
	}

	nav ul
	{
		color: #959595;
		list-style: none;
		font-size: 24px;
		margin-top: 20px;
		margin-left: 0px;
	}

	nav ul li
	{
		margin-top: 0px;
		border-bottom: 0px;
		padding-bottom: 0px;
		display: inline;
		/*margin-left: 30px;*/
	}

	nav ul li:first-child
	{
		margin-top: 0px;
	}

	nav ul li a
	{
		color: #757575;
		margin-left: 20px;
	}

	nav ul li a:hover
	{
		color: #316f3f;
	}
}

@media screen and (min-width: 48em)
{
	nav ul
	{
		margin-top: 25px;
	}

	nav ul li a
	{
		margin-left: 40px;
	}
}

@media screen and (min-width: 64em)
{
	nav ul
	{
		margin-top: 30px;
		font-size: 30px;
	}

	nav ul li a
	{
		margin-left: 40px;
	}
}

@media screen and (min-width: 74em)
{
	nav ul
	{
		margin-top: 35px;
		font-size: 38px;
	}

	nav ul li a
	{
		margin-left: 50px;
	}
}

@media screen and (min-width: 80em)
{
	#headTitle
	{
		font-size: 60px;
		margin-top: 150px;
	}

	nav ul
	{
		margin-top: 35px;
		font-size: 38px;
	}

	nav ul li a
	{
		margin-left: 50px;
	}

}

@media screen and (min-width: 120em)
{
	#headTitle
	{
		font-size: 72px;
		margin-top: 350px;
	}
}
/*------------------------------About------------------------------*/

#dogPics
{

}

#dogGrey
{
	margin-top: 20px;
	z-index: 10;
	position: absolute;

}

#dog
{
	margin-top: 20px;
	z-index: 5;
}

#dogGrey2
{
	margin-top: 10px;
	z-index: 3;
}

#section2
{
	margin-top: 350px;
}

#resume
{
	font-size: 18.22px;
	color: #316f3f;
	padding: 10px;
	border: 3px solid #316f3f;
	font-family: 'rimouski sb', Arial, sans-serif;
}

#resume:hover
{
	color: #fff;
	background-color: #316f3f;
}

@media screen and (min-width: 75.5em)
{
	#dogGrey
	{
		width: auto;
	}
}

@media screen and (min-width: 80em)
{
	#resume
	{
		font-size: 36px;
	}
}

/*------------------------------Portfolio------------------------------*/

#section3
{
	margin-top: 350px;
}

.portfolioPiece
{
	height: 319px;
	border: 1px solid #316f3f;
	background-color: #316f3f;
	opacity: 1;
	transition: opacity .25s ease;
}

.portfolioPiece:hover
{
	opacity: .6;
}

.portfolioPiece :hover
{
	background-color: #316f3f;
}

#videoSection
{
	margin-top: 350px;
}

#videoPlayer
{
	background: url('../images/s-videoBg.jpg') center no-repeat;
	padding-bottom: 100px;
}

video
{
	background-color: #000;
}

@media screen and (min-width: 40em)
{
	#videoPlayer
	{
		background: none;

	}

	#videoSection
	{

		background: url('../images/l-videoBg.jpg') center no-repeat;
		background-size: contain;
	}
}

@media screen and (min-width: 52.25em)
{
	#videoPlayer
	{
		padding-bottom: 300px;
	}
}

/*------------------------------Contact------------------------------*/

#section4
{
	margin-top: 350px;
}

input::-webkit-input-placeholder
{
	color: #b9d2be;
	font-family: 'rimouski sb', Arial, sans-serif;
}

input::-moz-placeholder
{
	color: #b9d2be;
	font-family: 'rimouski sb', Arial, sans-serif;
}

input:-ms-input-placeholder
{
	color: #b9d2be;
	font-family: 'rimouski sb', Arial, sans-serif;
}

input:-moz-placeholder
{
	color: #b9d2be;
	font-family: 'rimouski sb', Arial, sans-serif;
}

textarea::-webkit-input-placeholder
{
	color: #b9d2be;
	font-family: 'rimouski sb', Arial, sans-serif;
}

textarea::-moz-placeholder
{
	color: #b9d2be;
	font-family: 'rimouski sb', Arial, sans-serif;
}

textarea:-ms-input-placeholder
{
	color: #b9d2be;
	font-family: 'rimouski sb', Arial, sans-serif;
}

textarea:-moz-placeholder
{
	color: #b9d2be;
	font-family: 'rimouski sb', Arial, sans-serif;

}

#submit
{
	background-color: #fff;
	font-size: 18.22px;
	color: #316f3f;
	padding: 10px;
	border: 3px solid #316f3f;
	padding-left: 20px;
	padding-right: 20px;
	font-family: 'rimouski sb', Arial, sans-serif;
}

#submit:hover
{
	color: #fff;
	background-color: #316f3f;
}

#linkedIn
{
	width: 41px;
	height: 41px;
}

form
{
	margin-bottom: 20px;
}

#bottom
{
	margin: 0 auto;
}

#envelopeFront
{
	display: none;
}

@media screen and (min-width: 40em)
{

	#envelope
	{
		background: url('../images/envelope-back.svg') no-repeat;
		background-size: 100%;
		position: relative;
		margin-top: 350px;
		overflow: visible;
	}

	#section4
	{
		background-color: #fff;
		padding-top: 10px;
		box-shadow: 0px 0px 12px 1px #878787;
		z-index: 1;
		margin-top: -80px;
		padding-bottom: 50px;
	}

	form
	{
		margin-bottom: 0px;
	}

	#envelopeFront
	{
		display: inline;
		position: absolute;
		z-index: 2;
		margin-top: 33%
	}
}
